.closebutton {
    width: 16px;
    height: 16px;
    cursor: pointer;
    background-color: #EC6B5E;
    border-radius: 16px;
    border: solid 1px rgba(0, 0, 0, 0.25);
}

.windowheader {
    width: 100%;
    display: flex;
    align-items: center;
    cursor: move;
    justify-content: space-between;
    padding: 4px;
}

.window {
    position: absolute;
    flex-direction: column;
    transform: translate(-50%, -50%);
    padding: 16px; 
    border: solid;
    border-width: 2px; 
    backdrop-filter: blur(4px);
    background-color: rgba(175, 175, 175, 0.75)
}